@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  src: url("./../fonts/montserrat-400.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
  ascent-override: 96.8%;
  descent-override: 25.1%;
  line-gap-override: 0%;
}

@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  src: url("./../fonts/montserrat-600.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
  ascent-override: 96.8%;
  descent-override: 25.1%;
  line-gap-override: 0%;
}

@font-face {
  font-family: "Merriweather";
  font-weight: 300;
  src: url("./../fonts/merriweather-300.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
  ascent-override: 98.4%;
  descent-override: 27.3%;
  line-gap-override: 0%;
}

@font-face {
  font-family: "Merriweather";
  font-weight: 700;
  src: url("./../fonts/merriweather-700.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
  ascent-override: 98.4%;
  descent-override: 27.3%;
  line-gap-override: 0%;
}

:root {
  --font-size-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
  --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
  --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
  --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --font-size-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
  --font-size-2xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
  --font-size-3xl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);
}

html {
  font-family: sans-serif;
  block-size: 100%;
  background-color: #ffffff;
  color: theme('colors.gray.600');
}

html, body , #__nuxt{
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100%;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "Montserrat", Montserrat;
}

h1,
h2,
h3,
h4,
strong,
b {
  font-family: "Merriweather", Merriweather;
  font-weight: 700;
}

img {
  height: auto;
  width: 100%;
  display: block;
}

/* Page Transition */
.page-enter-active,
.page-leave-active {
  transition: all 0.2s ease;
}

.page-enter,
.page-leave-active {
  opacity: 0;
  transform: translateZ(0);
  backface-visibility: hidden;
}
